$white: #fff;
$black: #000;
$green: #32CD32;
$red: #FF0000;

$transition-fast: all .2s ease-in-out;

$min-width-mobile: 310px;
$max-width-tablet: 768px;
$max-width-desktop: 1024px;

$font-primary: 'Nosifer', cursive;